{% extends 'roads/base.html' %}
 
{% block content %}

<div class="container">
    <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} {% for f in pokr_form %}
        {{ f.as_p }}
        {% endfor %} {% endcomment %}
        <button type="submit" class="btn btn-outline-primary me-2">Добавить</button>
    </form>
</div>

{% comment %} <div class="container">
    <form  method="POST">
        {% csrf_token %}
        <div class="form-row">
            {% for f in form %}
                <div class="col">
                    {{ f.id_}}
                    {{ f }}
                </div>            
            {% endfor %}
        </div>
    <button type="submit" class="btn btn-outline-primary me-2">Добавить</button>
    </form>
</div> {% endcomment %}
    



{% endblock %}