{% extends 'roads/base.html' %}
 
{% block content %}

{% comment %} <a href="{% url 'listroads'%}">Дороги</a>
<a href="{% url 'listbriges'%}">Мосты</a>
<a href="{% url 'input_uchastok'%}">Добавить участок</a>
<a href="{% url 'input_road'%}">Добавить дорогу</a> {% endcomment %}

{% for object in object_list %}
    <div class='container'>
    <div class="list-group">
           
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            {{object}}
        </a>
      </div>
    </div>
{% endfor %}

{% endblock %}